
@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="ProductRibbons" asp-action="Configure" method="post" id="product-ribbon-form">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

            </div>

        </div>
    </div>
</form>
